.child-box {
    /*border-color: black;
    border-style: solid;
    border-width: 1px; */
    border: black solid 1px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
}

.parent-box {
    display: flex;
    background-color: bisque;
    padding: 30px 20px 20px 20px; /* shorthand para: padding-top,padding-right, padding-bottom, padding-left*/
    

}

.parent-box > p {
    position: absolute;
    margin-top: -30px;
    left: 25px;
}

.parent-box div:nth-child(2).child-box{
    background-color: beige;
}

.parent-box div:nth-child(3).child-box{
    background-color: gray;
}

.parent-box div:nth-child(4).child-box{
    background-color: yellowgreen;
}

#display-flex .parent-box{

    display: flex;
    background-color: rgb(133, 99, 99);
}

#jc-center .parent-box {
    justify-content: center;
}

#space-around .parent-box{
    justify-content: space-around;
}

#space-between .parent-box{
    justify-content: space-between;
}

#space-evenly .parent-box{
    justify-content: space-evenly;
}


